version: "3.8"

services:
  django:
    build: .
    image: match_django
    restart: always
    container_name: match-django
    depends_on:
      - redis
    ports:
      - "8000:8000"
    environment:
      # 邮件服务器配置（请根据实际情况修改）
      - EMAIL_HOST=${EMAIL_HOST:-smtp.whu.edu.cn}
      - EMAIL_PORT=${EMAIL_PORT:-587}
      - EMAIL_USE_TLS=${EMAIL_USE_TLS:-True}
      - EMAIL_USE_SSL=${EMAIL_USE_SSL:-False}
      - EMAIL_HOST_USER=${EMAIL_HOST_USER:-}
      - EMAIL_HOST_PASSWORD=${EMAIL_HOST_PASSWORD:-}
    networks:
      - app-net

  caddy:
    image: registry-vpc.cn-hangzhou.aliyuncs.com/ziqiang_studio/caddy:latest
    depends_on:
      - django
    environment:
      - DJANGO_ALLOWED_HOSTS=121.40.155.61,localhost,127.0.0.1
    networks:
      - app-net
      - traefik
    labels:
      traefik.enable: true
      traefik.http.routers.match-django.rule: Host(`match.ziqiang.net.cn`)
      traefik.http.routers.match-django.entrypoints: websecure
      traefik.http.services.match-django.loadbalancer.server.port: 80

  redis:
    image: registry-vpc.cn-hangzhou.aliyuncs.com/ziqiang_studio/redis:latest
    networks:
      - app-net

networks:
  app-net: {}
  traefik:
    external: true
